*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.detalles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    margin-left: 0;
    row-gap: 1rem;
}
.detalles img{
    width: 300px;
    margin-left: 3rem;
}
.detalles p{
    color: black;
    font-size: 3rem;
}
.detalles h2{
    font-weight: lighter;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -6rem;
}

